
<header class="header  py-3 bg-light" >
    <div class="container">
        <!--<span class="text-muted">Все права защищены</span>-->
        <!--<form href="/news/allhb" target="_blank">
   <button>Список новостей</button>-->
   <div class="container1">
   <div class="colunm"><h5>Название</h5></div>
   <div class="colunm"><h5>Бюджет</h5></div>
   <div class="colunm"><h5>Статус</h5></div>
   <!--<a href="/news/create/new">Добавить новость</a>-->
   {{!-- <h5>Статус</h5> --}}
   <div class="colunm"><h5>Ответственный</h5></div>

   <div class="colunm"><h5>Дата создания</h5></div>
   </div>
    </div>
    

</header>
 
 
